@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("http://fonts.cdnfonts.com/css/lato");
:root {
  --color-primary: #ec5242;
  --color-primary-light: rgba(236, 83, 66, 0.9);
  --color-dark: #272a31;
  --color-dark-2: #272a31cc;
  --color-grey: #d3d3d3;
  --color-grey-light: #f9f9f9;
  --color-white: #fff;
  --linear-gradient: linear-gradient(to right bottom, rgba(34, 34, 34, 0.9), rgba(236, 83, 66, 0.808));
  --shadow-dark: rgba(0, 0, 0, 0.1) 0 10px 15px -3px;
  --shadow-card: rgba(211, 211, 211, 0.2) 0px 3px 8px;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-dark);
}

.navigation {
  display: none;
  background-color: var(--color-dark);
}

.navigation__top-nav {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul .nav-item {
  text-decoration: none;
  padding: 1rem 2rem;
  list-style: none;
  position: relative;
}

.navigation ul .nav-item a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
}

.navigation ul .nav-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: var(--color-primary);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  left: 0;
}

.navigation ul .nav-item:hover::after {
  width: 100%;
}

.navigation ul .nav-item__icon {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 2rem;
  height: 2rem;
  fill: var(--color-white);
  cursor: pointer;
}

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(249, 249, 249, 0.9))), url(../assets/images/pexels-pixabay-161154-min.jpg);
  background-image: linear-gradient(to right, rgba(249, 249, 249, 0.9)), url(../assets/images/pexels-pixabay-161154-min.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 30;
}

.header-nav-container {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.header-nav-container__logo-box {
  font-family: "cocogoose", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: var(--color-primary);
}

.header-nav-container__logo-box span {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-primary)), color-stop(var(--color-dark)), to(var(--color-grey)));
  background: linear-gradient(var(--color-primary), var(--color-dark), var(--color-grey));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
}

.header-nav-container__nav-bar {
  position: relative;
}

.header-nav-container__nav-bar--icon {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  height: 3rem;
  fill: var(--color-dark-2);
  cursor: pointer;
  margin: 2rem 3rem;
  z-index: 200;
  top: 1rem;
  right: 0rem;
  position: fixed;
}

.header-nav-container__nav-bar--icon #icon-cross {
  display: none;
}

.header-nav-container__nav-bar--link {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header-nav-container__nav-bar--link .nav-link {
  text-decoration: none;
  padding: 1rem 2rem;
  list-style: none;
  position: relative;
}

.header-nav-container__nav-bar--link .nav-link a {
  text-decoration: none;
  color: var(--color-dark);
  font-size: 1.5rem;
}

.header-nav-container__nav-bar--link .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: var(--color-primary);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  left: 0;
}

.header-nav-container__nav-bar--link .nav-link:hover::after {
  width: 100%;
}

.header-nav-container__nav-bar .your-blog {
  display: none;
  padding: 0 2rem;
  border: 5px solid var(--color-primary);
  margin-left: 5rem;
  background-color: var(--color-white);
  color: #D52815;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-nav-container__nav-bar .your-blog:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header-nav-container__nav-bar .your-blog:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.header-body__greeting-text {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.6;
}

.header-body__header-title {
  background: url(../assets/images/pexels-pixabay-73873-min.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: "cocogoose", sans-serif;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.header-body__header-title span {
  display: block;
}

.header-body__header-desc {
  border: 2px solid var(--color-white);
  padding: 2rem;
  max-width: 48rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.header-body__event-time {
  margin-top: 2rem;
  font-family: "cocogoose", sans-serif;
  font-size: 3rem;
  color: var(--color-dark-2);
}

.header-body__event-place {
  font-size: 1.8rem;
}

.main .main-art {
  background-color: var(--color-dark);
}

.main .main-art .main-container {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

.main .main-art .main-container__main-title {
  display: inline-block;
  margin-bottom: 5rem;
  text-align: center;
  color: var(--color-white);
  font-size: 2.5rem;
  border-bottom: 1px solid var(--color-primary);
}

.main .main-art .main-container__art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 25.5rem;
  overflow: hidden;
  -webkit-transition: max-height .7s;
  transition: max-height .7s;
}

.main .main-art .main-container__art--card {
  width: 23rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .25rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .main-art .main-container__art--card::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  background-image: var(--linear-gradient);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  font-family: "cocogoose", sans-serif;
  font-size: 2rem;
}

.main .main-art .main-container__art--card:hover::after {
  content: 'Art Details';
  width: 100%;
  height: 100%;
}

.main .main-art .main-container__art--card:hover:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.main .main-art .main-container__art--card .card-img {
  width: 100%;
  height: 100%;
  background-position: cover;
  border-radius: 2px;
}

.main .main-art .main-container__art--card .card-desc {
  width: 100%;
  position: absolute;
  padding: .5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  -webkit-box-shadow: var(--shadow-card);
          box-shadow: var(--shadow-card);
  background-image: var(--linear-gradient);
  color: var(--color-white);
}

.main .main-art .main-container__art--card .card-desc__artist {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6;
}

.main .main-art .main-container__art--card .card-desc__site {
  font-weight: 600;
  font-size: 1rem;
}

.main .main-art .main-container__detail {
  margin-top: 5rem;
  color: var(--color-grey-light);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.main .featured-speakers {
  background-color: var(--color-grey-light);
}

.main .featured-speakers .speakers {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}

.main .featured-speakers .speakers__main-title {
  display: inline-block;
  margin-bottom: 5rem;
  text-align: center;
  color: var(--color-dark);
  font-size: 2.5rem;
  border-bottom: 1px solid var(--color-primary);
}

.main .featured-speakers .speakers .overflow {
  height: 36.48rem;
  overflow: hidden;
}

.main .featured-speakers .speakers__main-artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .featured-speakers .speakers__main-artists--artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15.24rem;
  margin: 0 2rem 3rem 2rem;
}

.main .featured-speakers .speakers__main-artists--artist .artist-picture {
  width: 15rem;
  margin-right: 2rem;
  border-radius: 3px;
  border: 2px solid var(--color-grey);
}

.main .featured-speakers .speakers__main-artists--artist .about-artist {
  overflow: hidden;
}

.main .featured-speakers .speakers__main-artists--artist .about-artist .artist-name {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.6;
}

.main .featured-speakers .speakers__main-artists--artist .about-artist .artist-title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--color-primary);
  font-style: italic;
}

.main .featured-speakers .speakers__main-artists--artist .about-artist .line {
  border: 0.5px solid var(--color-grey);
  width: 10%;
  margin: 1rem 0;
}

.main .featured-speakers .speakers__main-artists--artist .about-artist .artist-desc {
  font-weight: 500;
  font-size: 1.2rem;
}

@media only screen and (min-width: 48em) {
  .navigation {
    display: block;
  }
  .header-nav {
    -webkit-box-shadow: var(--shadow-dark);
            box-shadow: var(--shadow-dark);
    background-color: var(--color-white);
  }
  .header-nav-container__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav-container__nav-bar--icon {
    display: none;
  }
  .header-nav-container__nav-bar--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav-container .your-blog {
    display: inline-block;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .content {
    padding-top: 8rem;
  }
  .header-body {
    padding: 8rem 0;
    height: calc(100vh - 12.48rem);
  }
  #artist {
    width: calc((100% - 8rem)/2);
  }
  #overflow {
    height: 100%;
    overflow: none;
  }
  #speakers__button {
    display: none;
  }
}

.hide-icon {
  display: none;
}

.nav-mobile {
  display: none;
  background-image: var(--linear-gradient);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
  width: 100vw;
  position: fixed;
  height: 100vh;
  z-index: 10;
  border-top: 5px solid var(--color-primary);
  overflow: hidden;
  cursor: pointer;
}

.nav-mobile .nav-link a {
  font-family: "cocogoose", sans-serif;
  font-size: 2.5rem;
  color: var(--color-white);
}

#speakers__button {
  width: 94%;
  padding: 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 2px;
  text-align: center;
  background-color: var(--color-grey-light);
  font-weight: 600;
  color: var(--color-dark-2);
  font-size: 1.4rem;
  cursor: pointer;
}

#speakers__button:hover {
  background-color: var(--color-grey);
  color: var(--color-primary);
  -webkit-transition: all .2s;
  transition: all .2s;
}

#speakers__button:hover:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background-color: var(--color-white);
}
