.hide-icon {
  display: none;
}

.nav-mobile {
  display: none;
  background-image: var(--linear-gradient);
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  width: 100vw;
  position: fixed;
  height: 100vh;
  z-index: 10;
  border-top: 5px solid var(--color-primary);
  overflow: hidden;
  cursor: pointer;

  .nav-link {
    a {
      font-family: $display-font;
      font-size: 2.5rem;
      color: var(--color-white);
    }
  }
}